<div class="insider-sentiment-container">
  <div class="details-card">
    <ng-container *ngIf="company$ | async as c">
      <h2>{{ c.description + " (" + c.symbol + ")" }}</h2>
    </ng-container>
    <div
      class="insider-sentiment-information"
      *ngIf="sentimentResults | async as s"
    >
      <app-month-data
        *ngFor="let result of s"
        [sentimentResult]="result"
      ></app-month-data>
      <app-no-results
        message="There is no information to display for this stock."
        *ngIf="s.length === 0"
      ></app-no-results>
    </div>
  </div>
  <button [routerLink]="['']">Back to list of stocks</button>
</div>
