@use "colors" as c;
@use "mixins" as m;

.insider-sentiment-container {
  .details-card {
    box-shadow: 0px 0px 30px -4px rgb(0 0 0 / 10%);
    background-color: c.$white;
    border-radius: 10px;
    padding: 20px;
    font-size: 15px;

    h2 {
      margin-bottom: 20px;

      @include m.small-screen {
        text-align: center;
      }
    }

    .insider-sentiment-information {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;

      app-month-data {
        flex: 1;
      }

      app-no-results {
        flex: 1;
      }
    }
  }

  button {
    @include m.button;
    width: 180px;
    padding: 10px 10px;
    margin-top: 20px;
  }
}
