@use "colors" as c;
@use "mixins" as m;

.container {
  .stock-input-container {
    background-color: c.$white;
    border-radius: 10px;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 30px -4px rgb(0 0 0 / 10%);

    .input-container {
      width: 100%;
      max-width: 400px;
      margin-top: 20px;
      display: flex;
      align-items: flex-start;
      gap: 15px;

      @include m.small-screen {
        flex-direction: column;
      }

      .input-field {
        input {
          font: {
            family: inherit;
            size: 14px;
          }
          padding: 12px 25px;
          border-radius: 10px;
          border: 0;
          box-shadow: 0px 0px 30px -4px rgb(0 0 0 / 10%);
          outline: none;
          width: 100%;
        }

        .error-container {
          p {
            color: red;
            font-size: 12px;
            margin: 3px 0 0 5px;
          }
        }
      }

      button {
        @include m.button;
        width: 160px;
        padding: 10px 10px;

        &:disabled {
          background-color: c.$blue-light;

          &:hover {
            cursor: default;
          }
        }
      }

      .input-field,
      button {
        @include m.small-screen {
          width: 100%;
        }
      }
    }
  }

  .stocks-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
